.container {
    width: 20vw;
    height: 100%;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
}

.listItem {
    font-size: 2rem;
    color: #fff;
    margin-left: 2rem;
}