.container {
    width: 20vw;
    height: 100%;
    background-color: #282828;
    padding-top: 1rem;
}

.listItem {
    font-size: 2rem;
    color: #fff;
    padding: 0.25rem 0 0.25rem 2rem;
}

.listItem:hover {
    background-color: #606060;
}

.listItemSelected {
    background-color: #0096FF;
    font-size: 2rem;
    color: #fff;
    padding: 0.25rem 0 0.25rem 2rem;
}